<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/bootstrap-menu-css') %>
    <link rel="stylesheet" type="text/css" href="/public/css-add/students.css">
    <title>Add Students</title>
</head>
<body>
    <%- include('../partials/bootstrap-menu-ejs') %>
    <form action="/students/add" method="POST">
        <div class="container">
            <h1>Add Students Data</h1><br>
            <%- include('../partials/bootstrap-error-ejs') %>
            <label for="first_name">First Name :</label>
            <input type="text" id="first_name" name="first_name" required>
            <label for="last_name">Last Name :</label>
            <input type="text" id="last_name" name="last_name">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>
            <label for="birth_date">Birth Date :</label>
            <input type="date" id="birth_date" name="birth_date">
            <label for="gender">Gender :</label>
            <input type="text" id="gender" name="gender" required>
            <button type="submit" class="submitbtn">Submit</button>
    </div>
    </form>
    <br><br>
    <%- include('../partials/bootstrap-footer-ejs') %>
</body>
</html>

