<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/bootstrap-menu-css') %>
    <title>SCHOOL PAGE</title>
</head>
    <%- include('../partials/bootstrap-menu-ejs') %>    
    <h1><center>WELCOME TO SCHOOL HOMEPAGE</center></h1>
        <br><h3><center>/students           | more information about our students</center></h3>
        <br><h3><center>/teachers           | more information about our teachers info</center></h3>
        <br><h3><center>/subjects           | show our subject learning</center></h3>
        <br><h3><center>teachers/:id        | search teachers data by id</center></h3>
        <br><h3><center>/students/:email    | search students data by email</center></h3>
        <br><h3><center>/subjects/:id       | search subjects data by id</center></h3>      
</body>
</html>